<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577225214398-kdp0iif2881mb4oc6d5ei4ocnfb5uhd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577225214398-kdp0iif2881mb4oc6d5ei4ocnfb5uhd7</string>
	<key>API_KEY</key>
	<string>AIzaSyBgAx44IiNRLIKxkAjgnPY88oZwcedpsYM</string>
	<key>GCM_SENDER_ID</key>
	<string>577225214398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rOarMJ.SeSAC-Service-Level-Project</string>
	<key>PROJECT_ID</key>
	<string>sesac-slp-8f5e3</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-slp-8f5e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577225214398:ios:d2b098b27a2ef2d4ba91ef</string>
</dict>
</plist>